services:
  postgreSQL:
    image: postgres:17
    container_name: restaurant_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=restaurant_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:8.4.0
    ports:
      - "6379:6379"
    restart: always
volumes:
  postgres_data:
