version: "3.8"

services:
  api:
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development

  nginx:
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.local.conf:/etc/nginx/nginx.conf:ro
