@media (max-width: 1280px) {
  .fastTravel {
    top: 100px;
  }
  .buttonWrapper {
    border-radius: 0.75rem;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 445px) {
  .fastTravel {
    top: 50px;
  }
}
@media (max-width: 285px) {
  .fastTravelButton {
    font-size: 4vw;
  }
}
