.heroGradient {
  background: linear-gradient(#0000 0%, #000 100%);
  opacity: 0.8;
}

.menuSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "hero list";
}

.heroSection {
  position: sticky;
  grid-area: hero;
}

.listSection {
  grid-area: list;
}

@media (max-width: 1280px) {
  .menuSection {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "hero" "list";
    padding: 24px;
    gap: 24px;
  }
  .heroSection {
    position: initial;
    padding: 0px;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  .listSection {
    padding: 0px;
  }
  .listContainer {
    padding: 64px;
  }
}

@media (max-width: 810px) {
  .listContainer {
    padding: 40px;
  }
}
