.contentSection {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "schedule gallery" "map contacts";
}

.scheduleSection {
  grid-area: schedule;
}
.gallerySection {
  grid-area: gallery;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "first second" "third fourth";
}

.mapSection {
  grid-area: map;
}

.contactsSection {
  grid-area: contacts;
}

@media (max-width: 1650px) {
  .contactsList {
    font-size: 1.2vw;
  }
}
@media (max-width: 1500px) {
  .scheduleList {
    font-size: 18px;
  }
}
@media (max-width: 1280px) {
  .scheduleSection {
    gap: 48px;
  }
  .contactsSection {
    gap: 48px;
  }
  .scheduleList {
    font-size: 24px;
  }
  .contactsList {
    font-size: 24px;
  }
}

@media (max-width: 810px) {
  .contentSection {
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "schedule" "gallery" "contacts" "map";
  }
  .scheduleSection {
    height: min-content;
    gap: 32px;
  }
  .mapSection {
    height: 100%;
  }
}

@media (max-width: 415px) {
  .scheduleList {
    font-size: 6vw;
  }
  .contactsList {
    font-size: 6vw;
  }
}
@media (max-width: 380px) {
  .scheduleSection {
    padding: 10vw;
  }
  .contactsSection {
    padding: 10vw;
  }
  .mapSection {
    height: 100%;
  }
}

@media (max-width: 300px) {
  .scheduleDecor {
    display: none;
  }
  .scheduleSection {
    padding: 10vw;
  }
  .scheduleList {
    text-wrap-mode: wrap;
    word-break: break-all;
  }
  .contactsSection {
    padding: 10vw;
    text-wrap-mode: wrap;
    word-break: normal;
  }
  .contactsList {
    text-wrap-mode: wrap;
    word-break: break-all;
  }
  .mapSection {
    height: 100%;
  }
}
