@import "tailwindcss";

@theme {
  --drop-shadow-glow: 0px 0px 23px rgba(255, 255, 255, 1);

  --font-forum: var(--font-forum), serif;
  --font-satoshi: var(--font-satoshi), sans-serif;

  --color-text-default: rgba(239, 231, 210, 1);
  --color-text-muted: rgba(245, 242, 234, 0.7);
  --color-text-inverse: rgba(10, 11, 10, 1);

  --color-background-default: rgba(10, 11, 10, 1);
  --color-background-muted: rgba(24, 24, 24, 0.5);
  --color-background-primary: rgba(239, 231, 210, 1);
  --color-background-hover: #292929;
  --color-background-primary-hover: rgba(207, 190, 145, 1);

  --color-border-default: rgba(239, 231, 210, 0.15);
  --color-border-hover: rgba(239, 231, 210, 0.5);

  --color-icon-default: rgba(239, 231, 210, 1);
  --color-icon-inverse: rgba(10, 11, 10, 1);
}

@layer base {
  html,
  body,
  #root {
    overflow-x: clip;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}
