@media (max-width: 1280px) {
  .heroHeader {
    font-size: 96px;
    translate: -50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    line-height: 90%;
  }
}

@media (max-width: 810px) {
  .heroHeader {
    font-size: 56px;
  }
}

@media (max-width: 380px) {
  .heroHeader {
    font-size: 10vw;
    bottom: 10vw;
  }
}
