@media (max-width: 1500px) {
  .scheduleList {
    font-size: 18px;
  }
}
@media (max-width: 1280px) {
  .scheduleList {
    font-size: 24px;
  }
}

@media (max-width: 415px) {
  .scheduleList {
    font-size: 6vw;
  }
}

@media (max-width: 300px) {
  .scheduleList {
    text-wrap-mode: wrap;
    word-break: break-all;
  }
}
