@media (max-width: 810px) {
  .articleContainer {
    flex-direction: column;
    gap: 20px;
  }
  .card {
    width: 100%;
    min-width: 0px;
  }
}
@media (max-width: 200px) {
  .header {
    font-size: 20px;
  }
}
