@media (max-width: 810px) {
  .mainSection {
    padding: 40px;
  }
}
@media (max-width: 600px) {
  .heading {
    font-size: 32px;
  }
}
@media (max-width: 400px) {
  .mainSection {
    padding: 20px;
  }
}
