@media (max-width: 920px) {
  .flexibleInputs {
    flex-direction: column;
  }
  .mainSection {
    padding: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;
  }
}
.mainSection input[type="date"],
.mainSection input[type="time"] {
  width: 100%;
  min-width: 0;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
}
