@media (max-width: 1280px) {
  .header {
    translate: -50%;
    left: 50%;
    top: 48px;
  }
}
@media (max-width: 810px) {
  .collapseFirst {
    display: none;
  }
}
@media (max-width: 445px) {
  .header {
    width: 100%;
    top: 0;
    position: sticky;
    translate: none;
    border-radius: 0%;
  }

  .navLinks {
    width: 100%;
    font-size: 5vw;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0%;
    border-bottom: 1px solid var(--color-border-default);
  }

  .dropdown {
    position: absolute;
  }
}
@media (max-width: 380px) {
  .header {
    justify-content: center;
    height: min-content;
    font-size: 8vw;
  }
  .header nav {
    height: fit-content;
    width: 100%;
  }
  .header button {
    width: 10vw;
    height: 10vw;
    gap: 1vw;
  }
  .header button div {
    width: 5vw;
    height: 1px;
  }
  .navLinks {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .collapseSecond {
    display: none;
  }
}
